.ContentWrapper{
	width: 100%;
	height: 600px;
	background-color: white;
	margin-top: 8px;
	height: auto;
}
.ContentLeft{
   width:70%;
   background-color: white;
   display: inline-block;
   height: auto;
}
.ContentRight{
	width: 30%;
	display: inline-block;
	height:auto;
	vertical-align: top;
}
@media screen and (max-width: 430px) {
   .ContentLeft{
   	width:100%;
   	height: auto;
   }
   .ContentRight{
   	width: 100%;
   	height:auto;
   }
}