.ContentWrapper{
   margin: 8px 70px 0 0 ;
   box-shadow: 2px 2px 10px #dcdcdc;
   font-family: "FangSong_GB2312";
   border-radius: 5px;
}
.wechatImg{
	width: 100%;
}
@media screen and (max-width: 430px) {
  .ContentWrapper{
   margin: 8px 10px;
   box-shadow: 2px 2px 2px 2px #dcdcdc;
}
}
.wechatContent{
	padding: 10px 10px;
	text-align: center;
}
