
.ContentWrapper{
   margin: 8px 70px 0 0 ;
   box-shadow: 4px 4px 10px #dcdcdc;
   font-family: "FangSong_GB2312";
   height: 500px;
}

@media screen and (max-width: 430px) {
  .ContentWrapper{
   margin: 8px 10px;
}
}
.Content{
	width: 90%;
	margin:0 auto;
	padding: 8px 10px;
	display: flex;
	margin-top: 5px;
	opacity: 0.9;
	box-shadow: 1px 1px 3px #dcdcdc;
	justify-content: space-between;
}
.ArticleTitle{
	font-weight: normal;
}

.ArticleData{
   font-size: 13px;
}